body {
    margin: 0;
    overflow: hidden; }
.room{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #470d21;
    display: flex;
    flex-direction: column;
}
.upper{
    height:90%;
    width: 100%;
    background-color: #470d21;

}
.bottom{
 height: 10%;
 width: 100%;
 background-color: #F9E4D4;
 display: flex;
 justify-content: space-evenly;
}
.feet{
    width: 1%;
    height: 100%;
    background: #D67D3E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flexfeet2{
    display: flex;
    justify-content: space-evenly;
    height: 15%;
}
.feet2{
    width: 1%;
    height: 100%;
    background: #D67D3E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table{
    width: 70%;
    height: 3%;   
    background: #9C0F48;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}
.ontable{
    display: flex;
    height: 85%;
}

.undercomputer{
    width: 68%;
    height: 1.5em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 70% 70% 0 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background-color: #070707;

}
.bottomcomputer{
    width: 10%;
    height: 1em;
    margin-right: auto;
    margin-left: auto;
    background-color: #070707;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topcomputer{
    margin-right: auto;
    margin-left: auto;
    border: 0.5em solid #070707;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 24em; 
    height: 12em; 
    margin-top: 8em;
    background-color: #F9E4D4;
}
.ontopcomputer {
    display: flex;
    justify-content: center;
    padding-top: 25%;
}

#logo{
    height: 10em;


    animation-name: animatedlogo;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animatedlogo{
    0% {
        filter: drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 3px #fff)
        drop-shadow(0px 0px 10px #ff80b3)
        drop-shadow(0px 0px 30px #ff4d94)
        drop-shadow(0px 0px 50px #9C0F48);
      }
    
      100% {
        filter: drop-shadow(0px 0px 3px #fff)
        drop-shadow(0px 0px 6px #fff)
        drop-shadow(0px 0px 15px #ff80b3)
        drop-shadow(0px 0px 40px #ff4d94)
        drop-shadow(0px 0px 60px #ff0066); 
      }
}
.logobis {
    animation: none;
    stroke: #070707;
  }
.svgcat{
    height: 15em;
    margin-bottom: -0.5em;
    margin-top: 8em;
}
.book1{
    background: #F5B7FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:1.5em;
    width: 9em;
    margin-top: 20%;
    margin-left: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #070707;
}
.book2{
    background: #92E5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:1.5em;
    width: 9em;
    margin-left: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #070707;
}
.book3{
    background: #D67D3E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:1.5em;
    width: 8em;
    margin-left: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #070707;
}
.book4{
    background: #EA2828;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:1.5em;
    width: 10em;
    margin-left: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9E4D4;
}
.books{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-family: 'Julius Sans One';
    font-size: 0.8em;
}
.part1{
    height:100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.part2{
    height:100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.part3{
    height:100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.window{
    position: relative;
    height:13em;
    width:13em;
    border-radius: 50%;
    background-color: #92E5FF;
    border: 0.5em solid #F9E4D4;
    overflow: hidden;
}
.cloud1{
    position: absolute;
    height: 25%;
    padding-left: 15em;
    padding-top: 4em;
    animation: cloudmoving 40s ease-in-out infinite;
}
@keyframes cloudmoving {
    0%{
        transform: translate(-440px);
    }
    100%{
        transform: translate(-80px);
    }
}
.thing1{
    width: 4em;
height: 4em;
background: #F9E4D4;
border-radius: 4px;
margin-bottom: 1em;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.thing2{
    width: 4em;
height: 4em;
background: #F9E4D4;
border-radius: 4px;
margin-bottom: 1em;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.thing3{
    width: 4em;
height: 4em;
background: #F9E4D4;
border-radius: 4px;
margin-bottom: 1em;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.imgsize{
    height: 3em;
}
.imgsize2{
    height: 2.2em;
}
.imgsize3{
    height: 2.4em;
}
.rs{
    display: flex;
    flex-direction: column;
    margin-left: 17em;
    margin-bottom: 3em;
}





.screen{
    width: 100%;
    height: 11.17em;
    
}
.screenmage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mage2{
    display: none;
}
.mage3{
    display: none;
}
.mage4{
    display: none;
}
.combody{
    width: 24em;
    height:12em;
    overflow: hidden;
    
}
.barre{
    width: 24em;
    background-color: #1a1a1a;
    height: 0.833333em;
    display: flex;
    overflow: hidden;
}


#windows > img{
    height: 0.5em;
    width: auto;
    
}
#vscode > img{
    height: 0.5em;
    width: auto;
}
#figma > img{
    height: 0.5em;
    width: auto;
}
#imagepho > img{
    height: 0.5em;
    width: auto;
}
button{
    width: 1.2em;
    height: 0.95em;
    background-color: #363636;
    border: 1px solid #363636;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
}

@media screen and (max-width: 999px){
    .window{
        display: none;
    }
    .svgcat{
        height: 13em;
    }
    .topcomputer{
    width: 24em;
    height: 12em;
    margin-top: 12em;
    }
    .book1{
        margin-left: 10em;
    }
    .book2{
        margin-left: 10em;
    }
    .book3{
        margin-left: 10em;
    }
    .book4{
        margin-left: 10em;
    }
    .feet{
        width: 2%;
    }
    .feet2{
        width: 2%;
    }
    .table{
        width: 85%;
    }
    .rs{
        margin-left: 9em;
    }
}
@media screen and (max-width: 810px){
    .rs{
        margin-left: 3em;
        margin-bottom: 10em;
    }
    .books{
        display: none;
    }
    .svgcat{
        height: 10em;
        margin-left: 2em;
    }
    .thing1{
        width: 3.5em;
        height: 3.5em;
    }
    .thing2{
        width: 3.5em;
        height: 3.5em;
    }
    .thing3{
        width: 3.5em;
        height: 3.5em;
    }
}
@media screen and (max-width: 700px){
.rs{
    margin-left: 0;
}
.svgcat{
    display: none;
}
}
@media screen and (max-width: 600px){
    .rs{
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
    padding-bottom: 9em;
    margin-left: 29em;
    }
    .rs > a{
        margin-right: 0.5em;
    }
}
@media screen and (max-width: 450px){
    .rs{
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
    padding-bottom: 9em;
    margin-left: 21em;
    }
}
@media screen and (max-width: 401px){
    .rs{
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
    padding-bottom: 9em;
    margin-left: 19em;
    }
    .topcomputer{
        width: 20em;
    }
    .barre{
        width: 20em;
    }
    .feet{
        width: 4%;
    }
    .feet2{
        width: 4%;
    }
    .table{
        width: 95%;
    }
}
@media screen and (max-width: 350px){
    .rs{
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
    padding-bottom: 9em;
    margin-left: 16em;
    }
    .topcomputer{
        width: 18em;
        
    }
    .barre{
        width: 18em;
    }
    .feet{
        width: 4%;
    }
    .feet2{
        width: 4%;
    }
    .table{
        width: 95%;
    }
    #logo{
        height: 8em;
    }
}
@media screen and (max-width: 320px){
    .rs{
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
    padding-bottom: 9em;
    margin-left: 15em;
    }
    .topcomputer{
        width: 16em;
        
    }
    .barre{
        width: 16em;
    }
    .feet{
        width: 4%;
    }
    .feet2{
        width: 4%;
    }
    .table{
        width: 95%;
    }
    #logo{
        height: 8em;
    }
}